body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav ul{
    list-style: none;
    background-color: #4a4a4b;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    font-size: 1.2em
    line-height: 50px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
}

nav a:hover{
    background-color: white;
    color: palevioletred;
}

.instagram_logo{
    float: left;
    /*width: 20%; */
    margin-left: 10%;
}

.instagram_logo a{
    text-align: center;
}

img{
    width: 100%;
    /* height: 180px; */
}       
/* relative width to size of container, not to screen size */

h1{
    text-align: center;
    float: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

h3{
    text-align: center;
    float: center;
}

p{
    margin: 10%;
}

footer{
    background-color: #4a4a4b;
}

footer a{
    color: white;
    text-align: left;
    text-decoration: none;
    margin: 10%;
}

.instagram_account{
    color: white;
    font-size: 1em;
    line-height: 50px;
    height: 40px;
    margin: 2.5%
    text-decoration: none;
    display: block;
}

.facebook_account{
    color: white;
    font-size: 1em;
    line-height: 50px;
    height: 40px;
    margin: 2.5%
    text-decoration: none;
    display: block;
}

footer :hover{
    background-color: white;
    color: palevioletred;
}